body{background: #FFF8DC; margin-top: 0px}

.name{
	background: #00800047;
	text-align: center;
	font-size: 50px;
	color:#008080;
	margin-bottom:27px;
}
span{color: #980c46; font-weight: bold;}



.mainSec{width:900px; overflow: hidden; margin-right: auto; margin-left: auto;}

p{margin:0px;}

.box{
	height:150px;
	width:33.33%;
	float: left;
	box-sizing: border-box;
	padding: 2px;
}

.innerBox{
	background:#0d901dad;
	height:150px;

}


.mainSec1{width:900px; margin-right: auto; margin-left: auto; margin-top: 15px}

.fullbox{
	padding: 2px;
height: 150px;
width:100%;
box-sizing: border-box;

}

.innerfullbox{
background:#0d901dad;
	height:150px;

}

.mainSec2{width:900px; overflow: hidden; margin-right: auto; margin-left: auto; margin-top: 15px}

.mainSec2box{
    height:150px;
	width:50%;
	float: left;
	box-sizing: border-box;
	padding: 2px;

}

.innermainsec2box{

background:#0d901dad;
	height:150px;

}

.mainSec3{width:900px; overflow: hidden; margin-right: auto; margin-left: auto; margin-top: 15px}

.mainSec3box1{
	height:150px;
	width:66%;
	float: left;
	box-sizing: border-box;
	padding: 2px;

}

.mainSec3box2{
	height:150px;
	width:17%;
	float: left;
	box-sizing: border-box;
	padding: 2px;

}

.innermainsec3box{

background:#0d901dad;
	height:150px;

}

a{
	text-decoration: none;
	font-size: 20px;
	color:gray;
	float: right;

}

a:hover{color:#000000; border-bottom:2px solid black;
}
.link{overflow: hidden; margin-top: 20px}
